@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  position: relative;
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: yellow;
}
header .locations {
  margin-top: 4rem;
  background-color: #ffbf3e;
  height: 20vh;
  position: sticky;
  top: 0;
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: red;
}
header .locations h2 {
  font-size: 1rem;
}
header .locations .map {
  background-color: white;
  display: flex;
  position: sticky;
  transition: all 2s ease;
  z-index: 1000;
  justify-content: space-between;
  border-radius: 0.7rem;
  align-items: center;
  width: 45%;
}
header .locations .map .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .locations .map .left h3 {
  color: rgba(128, 128, 128, 0.623);
  font-weight: 300;
}
header .locations .map .left .icon {
  height: 100%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding: 0.8rem;
  background-color: #00a386;
}
header .locations .map .left .icon .bx {
  color: white;
}
header .locations .map .right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  gap: 0.5rem;
}
header .locations .map .right a {
  color: #00a386;
}
header .header {
  display: flex;
  position: fixed;
  height: 4.5rem;
  top: 0%;
  left: 0%;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #ffbf3e;
  align-items: center;
}
header .separate {
  display: none;
}
header .searchbarmobile {
  display: flex;
  gap: 0rem;
}
header .searchbarmobile input {
  width: 5rem;
  padding: 0.7rem 0.6rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
header .searchbarmobile .SearchIcon {
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
header .searchbarmobile {
  display: none;
}
header .headerBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .headerBtns .locationBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
header .headerBtns .header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .headerBtns .header-buttons .searchbar {
  display: flex;
}
header .headerBtns .header-buttons .searchbar input {
  padding: 0.7rem 1rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
header .headerBtns .header-buttons .searchbar .SearchIcon {
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
header .logos {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .logos .small-logo {
  width: 1.5rem;
  display: none;
}
header .getstartedBtn {
  padding: 0.6rem 1rem;
  background-color: #00a386;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
header .getstartedBtn:hover {
  transition: 0.5s;
  background-color: rgb(108, 177, 108);
}

@media (max-width: 520px) {
  header {
    padding: 1rem 1rem;
  }
  header .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #ffbf3e;
    align-items: center;
  }
  header .searchbarmobile {
    display: flex;
    gap: 0rem;
  }
  header .searchbarmobile input {
    width: 5.5rem;
    padding: 0.5rem 0.6rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  header .searchbarmobile .SearchIcon {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  header .separate {
    display: flex;
    background-color: red;
  }
  header .separate .locationBtnActive {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }
  header .headerBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .headerBtns .locationBtn {
    display: none;
  }
  header .headerBtns .header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header .headerBtns .header-buttons .searchbar {
    display: none;
  }
  header .logos {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  header .logos .large-logo {
    display: none;
  }
  header .logos .small-logo {
    width: 1.5rem;
    display: block;
  }
  header .getstartedBtn {
    padding: 0.6rem 1rem;
    background-color: #00a386;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
  header .getstartedBtn:hover {
    transition: 0.5s;
    background-color: rgb(108, 177, 108);
  }
}
@media (max-width: 360px) {
  header {
    padding: 1rem 1rem;
  }
  header .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #ffbf3e;
    align-items: center;
  }
  header .searchbarmobile {
    display: flex;
    gap: 0rem;
  }
  header .searchbarmobile input {
    width: 5.5rem;
    padding: 0.5rem 0.6rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  header .searchbarmobile .SearchIcon {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  header .separate {
    display: flex;
    background-color: red;
  }
  header .separate .locationBtnActive {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }
  header .headerBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .headerBtns .locationBtn {
    display: none;
  }
  header .headerBtns .header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header .headerBtns .header-buttons .searchbar {
    display: none;
  }
  header .logos {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  header .logos .large-logo {
    display: none;
  }
  header .logos .small-logo {
    width: 1.5rem;
    display: block;
  }
  header .getstartedBtn {
    padding: 0.6rem 1rem;
    background-color: #00a386;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
  header .getstartedBtn:hover {
    transition: 0.5s;
    background-color: rgb(108, 177, 108);
  }
}
.location {
  background-color: #ffbf3e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.location h2 {
  font-size: 3rem;
  margin-top: 2rem;
}
.location .map {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0.7rem;
  align-items: center;
  width: 45%;
}
.location .map .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.location .map .left h3 {
  color: rgba(128, 128, 128, 0.623);
  font-weight: 300;
}
.location .map .left .icon {
  height: 100%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding: 0.8rem;
  background-color: #00a386;
}
.location .map .left .icon .bx {
  color: white;
}
.location .map .right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  gap: 0.5rem;
}
.location .map .right a {
  color: #00a386;
}

@media (max-width: 520px) {
  .location {
    background-color: #ffbf3e;
    padding: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .location h2 {
    font-size: 1.4rem;
    margin-top: 4rem;
    padding-left: 0rem;
    text-align: center;
  }
  .location .map {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 0.7rem;
    align-items: center;
    width: 100%;
  }
  .location .map .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .location .map .left h3 {
    color: rgba(128, 128, 128, 0.623);
    font-weight: 300;
    font-size: 0.8rem;
  }
  .location .map .left .icon {
    height: 100%;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    padding: 0.8rem 0.3rem;
    background-color: #00a386;
  }
  .location .map .left .icon .bx {
    color: white;
  }
  .location .map .right {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    gap: 0.3rem;
  }
  .location .map .right a {
    color: #00a386;
    font-size: 0.8rem;
  }
}
@media (max-width: 360px) {
  .location {
    background-color: #ffbf3e;
    padding: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .location h2 {
    font-size: 1.4rem;
    margin-top: 4rem;
    padding-left: 0rem;
    text-align: center;
  }
  .location .map {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 0.7rem;
    align-items: center;
    width: 100%;
  }
  .location .map .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .location .map .left h3 {
    color: rgba(128, 128, 128, 0.623);
    font-weight: 300;
    font-size: 0.8rem;
  }
  .location .map .left .icon {
    height: 100%;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    padding: 0.8rem 0.3rem;
    background-color: #00a386;
  }
  .location .map .left .icon .bx {
    color: white;
  }
  .location .map .right {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    gap: 0.3rem;
  }
  .location .map .right a {
    color: #00a386;
    font-size: 0.8rem;
  }
}
.locations {
  background-color: #ffbf3e;
  padding: 2rem;
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}
.locations h2 {
  font-size: 1rem;
}
.locations .map {
  background-color: white;
  display: flex;
  position: sticky;
  transition: all 2s ease;
  z-index: 1000;
  justify-content: space-between;
  border-radius: 0.7rem;
  align-items: center;
  width: 45%;
}
.locations .map .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.locations .map .left h3 {
  color: rgba(128, 128, 128, 0.623);
  font-weight: 300;
}
.locations .map .left .icon {
  height: 100%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding: 0.8rem;
  background-color: #00a386;
}
.locations .map .left .icon .bx {
  color: white;
}
.locations .map .right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  gap: 0.5rem;
}
.locations .map .right a {
  color: #00a386;
}

.section-categories {
  background-color: #ffbf3e;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
}
.section-categories .category {
  text-align: center;
}
.section-categories .category .categoryBtn {
  width: 9rem;
  height: 9rem;
  border: none;
  background-color: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.section-categories .category .categoryBtn .btnImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 24% 76% 43% 57%/70% 61% 39% 30%;
  background-color: white;
}
.section-categories .category .categoryBtn .btnImg img {
  width: 3.5rem;
  height: 3.5rem;
}

.section-stores h2 {
  padding-left: 2rem;
  padding-top: 2rem;
}
.section-stores .store {
  z-index: -1;
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.section-stores .store .main-div {
  position: relative;
  display: block;
  margin-top: 2rem;
  width: 15rem;
}
.section-stores .store .main-div a {
  color: black;
}
.section-stores .store .main-div h4 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.673);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;
  top: 45%;
  font-size: 0.9rem;
  left: 1%;
}
.section-stores .store .main-div .store-image {
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}
.section-stores .store .main-div .store-image img {
  width: 100%;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
.section-stores .store .main-div .store-image img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.section-stores .store .main-div .footer {
  display: flex;
  align-items: center;
}
.section-stores .store .main-div .footer img {
  width: 1.2rem;
}
.section-stores .store .main-div .cutoff {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: -3%;
  left: 52%;
}
.section-stores .store .main-div .cutoff p {
  background-color: #ffb400;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.6rem;
}

.bcc {
  padding: 2rem 1rem;
}
.bcc .section-top-categories .top-image {
  text-align: center;
}
.bcc .section-top-categories .example-categories h2 {
  text-align: center;
  font-size: 2.5rem;
}
.bcc .section-top-categories .example-categories .top-category {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.bcc .section-top-categories .example-categories .top-category h3 {
  background-color: #f3ddaf;
  padding: 0.4rem 1rem;
  border-radius: 1.5rem;
}
.bcc .section-top-categories .example-categories .top-category h3:hover {
  background-color: goldenrod;
}

.section-connections {
  position: relative;
  background-color: #e5f9f6;
  z-index: -10;
  min-height: 100vh;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.section-connections .section-heading {
  text-align: center;
  font-size: 2.5rem;
}
.section-connections .connections {
  display: flex;
  gap: 3rem;
}
.section-connections .connections .connection {
  margin-top: 2rem;
  text-align: center;
}
.section-connections .connections .connection .btn {
  text-align: center;
  margin-top: 2rem;
}
.section-connections .connections .connection .btn a {
  text-align: center;
  color: #fff;
  border-radius: 1.5rem;
  background-color: #00a386;
  padding: 0.5rem 1rem;
}

.custom-shape-divider-top-1713370407 {
  position: absolute;
  background-color: #e5f9f6;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1713370407 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.custom-shape-divider-top-1713370407 .shape-fill {
  fill: #fff;
}

@media (max-width: 820px) {
  .section-connections {
    position: relative;
    background-color: #e5f9f6;
    min-height: 100vh;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-connections .section-heading {
    text-align: center;
    font-size: 2.5rem;
  }
  .section-connections .section-heading h2 {
    font-size: 1.6rem;
  }
  .section-connections .connections {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .section-connections .connections .connection {
    margin-top: 2rem;
    text-align: center;
  }
  .section-connections .connections .connection .btn {
    text-align: center;
    margin-top: 2rem;
  }
  .section-connections .connections .connection .btn a {
    text-align: center;
    color: #fff;
    border-radius: 1.5rem;
    background-color: #00a386;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 520px) {
  .section-connections {
    position: relative;
    background-color: #e5f9f6;
    min-height: 100vh;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-connections .section-heading {
    text-align: center;
    font-size: 2.5rem;
  }
  .section-connections .section-heading h2 {
    font-size: 1.6rem;
  }
  .section-connections .connections {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .section-connections .connections .connection {
    margin-top: 2rem;
    text-align: center;
  }
  .section-connections .connections .connection .btn {
    text-align: center;
    margin-top: 2rem;
  }
  .section-connections .connections .connection .btn a {
    text-align: center;
    color: #fff;
    border-radius: 1.5rem;
    background-color: #00a386;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 360px) {
  .section-connections {
    position: relative;
    background-color: #e5f9f6;
    min-height: 100vh;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-connections .section-heading {
    text-align: center;
    font-size: 2.5rem;
  }
  .section-connections .section-heading h2 {
    font-size: 1.6rem;
  }
  .section-connections .connections {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .section-connections .connections .connection {
    margin-top: 2rem;
    text-align: center;
  }
  .section-connections .connections .connection .btn {
    text-align: center;
    margin-top: 2rem;
  }
  .section-connections .connections .connection .btn a {
    text-align: center;
    color: #fff;
    border-radius: 1.5rem;
    background-color: #00a386;
    padding: 0.5rem 1rem;
  }
}
.footer-section {
  position: relative;
  background-color: #1d1d1d;
  z-index: -1;
  min-height: 100vh;
  width: 100%;
}
.footer-section .connectToUs .white-logo {
  padding-top: 3rem;
  padding-left: 3rem;
}
.footer-section .connectToUs .connectToUsLinks {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.footer-section .connectToUs .connectToUsLinks .together {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-section .connectToUs .connectToUsLinks .together .getApp {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer-section .connectToUs .connectToUsLinks .together h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.footer-section .connectToUs .connectToUsLinks .together a {
  color: white;
}
.footer-section .together2 {
  display: none;
}
.footer-section .catSummery {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-bottom: 3rem;
  gap: 1.5rem;
}
.footer-section .catSummery h3 {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer-section .catSummery a {
  color: white;
}
.footer-section .catSummery .cats {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.custom-shape-divider-top-1713373070 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1713373070 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 36px;
}

.custom-shape-divider-top-1713373070 .shape-fill {
  fill: #e5f9f6;
}

@media (max-width: 520px) {
  .footer-section {
    position: relative;
    background-color: #1d1d1d;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .footer-section .connectToUs .white-logo {
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .footer-section .connectToUs .connectToUsLinks {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .footer-section .connectToUs .connectToUsLinks .together {
    display: none;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer-section .connectToUs .connectToUsLinks .together h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .footer-section .connectToUs .connectToUsLinks .together a {
    color: white;
  }
  .footer-section .connectToUs .connectToUsLinks .together .getApp {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .footer-section .connectToUs .connectToUsLinks .together .terms {
    font-size: 0.8rem;
  }
  .footer-section .connectToUs .connectToUsLinks .download {
    display: none;
  }
  .footer-section .together2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer-section .together2 h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .footer-section .together2 a {
    color: white;
  }
  .footer-section .together2 .getApp {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .footer-section .together2 .terms {
    font-size: 0.8rem;
  }
  .footer-section .catSummery {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    gap: 1.5rem;
  }
  .footer-section .catSummery h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .footer-section .catSummery a {
    color: white;
  }
  .footer-section .catSummery .cats {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 360px) {
  .footer-section {
    position: relative;
    background-color: #1d1d1d;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .footer-section .connectToUs .white-logo {
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .footer-section .connectToUs .connectToUsLinks {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .footer-section .connectToUs .connectToUsLinks .together {
    display: none;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer-section .connectToUs .connectToUsLinks .together h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .footer-section .connectToUs .connectToUsLinks .together a {
    color: white;
  }
  .footer-section .connectToUs .connectToUsLinks .together .getApp {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .footer-section .connectToUs .connectToUsLinks .together .terms {
    font-size: 0.8rem;
  }
  .footer-section .connectToUs .connectToUsLinks .download {
    display: none;
  }
  .footer-section .together2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer-section .together2 h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .footer-section .together2 a {
    color: white;
  }
  .footer-section .together2 .getApp {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .footer-section .together2 .terms {
    font-size: 0.8rem;
  }
  .footer-section .catSummery {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    gap: 1.5rem;
  }
  .footer-section .catSummery h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .footer-section .catSummery a {
    color: white;
  }
  .footer-section .catSummery .cats {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}
.category-details {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.category-details .major-container {
  width: 77%;
}
.category-details .title {
  margin-top: 6.5rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.category-details .title a {
  color: black;
  font-size: 0.79rem;
  text-decoration: underline;
}
.category-details .title .rest {
  text-decoration: none;
  font-weight: bolder;
}
.category-details h2 {
  font-size: 1.9rem;
}
.category-details .promotions {
  margin-top: 1.5rem;
}
.category-details .promotions h3 {
  font-size: 1.5rem;
}
.category-details .promotions .promotion-cards {
  display: flex;
  flex-shrink: 0;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.category-details .promotions .promotion-cards .promotion-card {
  position: relative;
  margin-top: 1.5rem;
  width: 30%;
}
.category-details .promotions .promotion-cards .promotion-card a {
  color: black;
}
.category-details .promotions .promotion-cards .promotion-card .burgers {
  font-size: 0.8rem;
  background-color: rgba(225, 232, 238, 0.835);
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
}
.category-details .promotions .promotion-cards .promotion-card .prom-image {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}
.category-details .promotions .promotion-cards .promotion-card .prom-image img {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
}
.category-details .promotions .promotion-cards .promotion-card .prom-image img:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
  overflow: hidden;
}
.category-details .promotions .promotion-cards .promotion-card .prom-details {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-details .promotions .promotion-cards .promotion-card .ratings {
  background-color: white;
  display: flex;
  gap: 0.2rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  align-items: center;
  position: absolute;
  top: 61%;
  left: 63%;
  border-radius: 0.7rem;
}
.category-details .promotions .promotion-cards .promotion-card .ratings img {
  width: 1.1rem;
}
.category-details .promotions .promotion-cards .promotion-card .discounts {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  top: 8%;
  left: 1%;
}
.category-details .promotions .promotion-cards .promotion-card .discounts p {
  background-color: white;
  padding-right: 0.5rem;
  display: flex;
  gap: 0.4rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
}
.category-details .promotions .promotion-cards .promotion-card .discounts p span {
  background-color: orange;
  padding: 0 0.2rem;
  padding-bottom: 0.1rem;
  font-size: 0.8rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0.5rem;
}
.category-details .sidebar {
  margin-top: 6.5rem;
  width: 23%;
  height: 50%;
  position: sticky;
  top: 0;
  padding-left: 5rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category-details .sidebar .sort {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.category-details .sidebar .sort h3 {
  font-size: 0.9rem;
}
.category-details .sidebar .sort a {
  color: black;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}
.category-details .sidebar .sort a img {
  width: 1.5rem;
  background-color: #fff3da;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56% 44% 57% 43%/63% 68% 32% 37%;
}
.category-details .sidebar .sort a .bx {
  background-color: #e5e9ff;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56% 44% 57% 43%/63% 68% 32% 37%;
}

.waat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waat svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 36px;
}

.waat .shape-fill {
  fill: white;
}/*# sourceMappingURL=style.css.map */