.waat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waat svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 36px;
}

.waat .shape-fill {
    fill: white;
}