.footer-section{
position: relative;
background-color: #1d1d1d;
z-index: -1;
// margin-top: 3rem;
// padding: 3rem;
min-height: 100vh;
width: 100%;
.connectToUs{
.white-logo{
    padding-top: 3rem;
    padding-left: 3rem;
}
.connectToUsLinks{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;
.together{
    display: flex;
    color: white;
flex-direction: column;
align-items: center;
gap: 1rem;
.getApp{
    display: flex;
    gap: 1rem;
flex-direction: column;
}
h3{
    font-size: 1.3rem;
    font-weight: 600;
}
a{
    color: white;
}
}
}
}
.together2{
    display: none;
 }
.catSummery{
display: flex;
flex-direction: column;
padding-left: 3rem;
padding-bottom: 3rem;
gap: 1.5rem;
h3{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
a{
    color: white;
}
.cats{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
}
}
.custom-shape-divider-top-1713373070 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1713373070 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 36px;
}

.custom-shape-divider-top-1713373070 .shape-fill {
    fill: #e5f9f6;
}
@media(max-width:520px){
    .footer-section{
        position: relative;
        background-color: #1d1d1d;
        // margin-top: 3rem;
        // padding: 3rem;
        min-height: 100vh;
        width: 100%;
        z-index: -1;
        .connectToUs{
        .white-logo{
            padding-top: 2rem;
            padding-left: 1rem;
        }
        .connectToUsLinks{
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: 1rem;
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        .together{
        display: none;
            display: flex;
            color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        h3{
            font-size: 1.1rem;
            font-weight: 600;
        }
        a{
            color: white;
        }
.getApp{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.terms{
    font-size: 0.8rem;
}
        }
.download{
    display: none;
}
        }
        }
        .together2{
            padding-left: 1rem;
            padding-bottom: 1rem;
            display: flex;
            color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        h3{
            font-size: 1.1rem;
            font-weight: 600;
        }
        a{
            color: white;
        }
.getApp{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.terms{
    font-size: 0.8rem;
}  
        }
        .catSummery{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-bottom: 1rem;
     margin-top: 1.5rem;
        gap: 1.5rem;
        h3{
            color: white;
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        a{
            color: white;
        }
        .cats{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
        }
        }
}
@media(max-width:360px){
    .footer-section{
        position: relative;
        background-color: #1d1d1d;
        // margin-top: 3rem;
        // padding: 3rem;
        min-height: 100vh;
        width: 100%;
        z-index: -1;
        .connectToUs{
        .white-logo{
            padding-top: 2rem;
            padding-left: 1rem;
        }
        .connectToUsLinks{
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: 1rem;
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        .together{
        display: none;
            display: flex;
            color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        h3{
            font-size: 1.1rem;
            font-weight: 600;
        }
        a{
            color: white;
        }
.getApp{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.terms{
    font-size: 0.8rem;
}
        }
.download{
    display: none;
}
        }
        }
        .together2{
            padding-left: 1rem;
            padding-bottom: 1rem;
            display: flex;
            color: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        h3{
            font-size: 1.1rem;
            font-weight: 600;
        }
        a{
            color: white;
        }
.getApp{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.terms{
    font-size: 0.8rem;
}  
        }
        .catSummery{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-bottom: 1rem;
     margin-top: 1.5rem;
        gap: 1.5rem;
        h3{
            color: white;
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        a{
            color: white;
        }
        .cats{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
        }
        }
}