header {
//   position: fixed;
//   top: 0;

  width: 100%;
  background-color: yellow;
  .locations {
    margin-top: 4rem;
    background-color: $primary-color;
    height: 20vh;
    position: sticky;
    top: 0;
    padding: 2rem;
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: red;
    h2 {
      font-size: 1rem;
      // margin-top: 2rem;
    }
    .map {
      background-color: white;
      display: flex;
      position: sticky;
      // bottom: 0;
      transition: all 2s ease;
      z-index: 1000;
      justify-content: space-between;
      border-radius: 0.7rem;
      align-items: center;
      width: 45%;
      .left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h3 {
          color: rgba(128, 128, 128, 0.623);
          font-weight: 300;
        }
        .icon {
          height: 100%;
          // border-radius: 0.7rem;
          border-top-left-radius: 0.7rem;
          border-bottom-left-radius: 0.7rem;
          padding: 0.8rem;
          background-color: $secondary-color;
          .bx {
            color: white;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        gap: 0.5rem;
        a {
          color: $secondary-color;
        }
      }
    }
  }
  .header {
    display: flex;
    position: fixed;
    height: 4.5rem;
    top: 0%;
    left: 0%;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 6rem;
    background-color: $primary-color;
    align-items: center;

  }
  .separate{
    display: none;
  }
.searchbarmobile{
  display: flex;
  gap: 0rem;
  input{
  width: 5rem;
  padding: 0.7rem 0.6rem;
  outline: none;
  border: none;
  // text-align: center;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  } 
  .SearchIcon{
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;  
    text-align: center;
    font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  }
}
.searchbarmobile{
  display: none;
}
.headerBtns{
display: flex;
flex-direction: column;
align-items: center;
  .locationBtn{
    display: flex;
    align-items: center;
    // text-align: center;
    background-color: transparent;
    cursor: pointer;    
    border: none;  
    font-weight: bold;
    font-size: 1rem;
  }
  .header-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
  .searchbar{
  display: flex;
  input{
  padding: 0.7rem 1rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  } 
  .SearchIcon{
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;  
    text-align: center;
    font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  }
  }
      }
}
  .logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    .small-logo {
      width: 1.5rem;
      display: none;
    }
  }
  .getstartedBtn {
    padding: 0.6rem 1rem;
    background-color: $secondary-color;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      background-color: rgb(108, 177, 108);
    }
  }
}
@media (max-width: 520px) {
  header {
    // display: flex;
    // justify-content: space-between;
    padding: 1rem 1rem;
    // background-color: $primary-color;
    // align-items: center;
.header{
  display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: $primary-color;
    align-items: center; 
}
.searchbarmobile{
  display: flex;
  gap: 0rem;
  input{
  width: 5.5rem;
  padding: 0.5rem 0.6rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  } 
  .SearchIcon{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;  
    text-align: center;
    font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  }
}
// .searchbarmobile{
//   display: block;
// }
.separate{
  display: flex;
  background-color: red;
  .locationBtnActive{
    display: flex;
    align-items: center;
    // text-align: center;
    background-color: transparent;
    cursor: pointer;    
    border: none;  
    font-weight: bold;
    font-size: 1rem;

  }
}
.headerBtns{
display: flex;
flex-direction: column;
align-items: center;
  .locationBtn{
    display: none;
  }
  .header-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
  .searchbar{
  display: none;
    }
      }
}
    .logos {
      display: flex;
      gap: 1rem;
      align-items: center;
      .large-logo {
        display: none;
      }
      .small-logo {
        width: 1.5rem;
        display: block;
      }
    }
    .getstartedBtn {
      padding: 0.6rem 1rem;
      background-color: $secondary-color;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      &:hover {
        transition: 0.5s;
        background-color: rgb(108, 177, 108);
      }
    }
  }
}
@media (max-width: 360px) {
  header {
    // display: flex;
    // justify-content: space-between;
    padding: 1rem 1rem;
    // background-color: $primary-color;
    // align-items: center;
.header{
  display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: $primary-color;
    align-items: center; 
}
.searchbarmobile{
  display: flex;
  gap: 0rem;
  input{
  width: 5.5rem;
  padding: 0.5rem 0.6rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  } 
  .SearchIcon{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;  
    text-align: center;
    font-size: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  }
}
// .searchbarmobile{
//   display: block;
// }
.separate{
  display: flex;
  background-color: red;
  .locationBtnActive{
    display: flex;
    align-items: center;
    // text-align: center;
    background-color: transparent;
    cursor: pointer;    
    border: none;  
    font-weight: bold;
    font-size: 1rem;

  }
}
.headerBtns{
display: flex;
flex-direction: column;
align-items: center;
  .locationBtn{
    display: none;
  }
  .header-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
  .searchbar{
  display: none;
    }
      }
}
    .logos {
      display: flex;
      gap: 1rem;
      align-items: center;
      .large-logo {
        display: none;
      }
      .small-logo {
        width: 1.5rem;
        display: block;
      }
    }
    .getstartedBtn {
      padding: 0.6rem 1rem;
      background-color: $secondary-color;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      &:hover {
        transition: 0.5s;
        background-color: rgb(108, 177, 108);
      }
    }
  }
}
