.locations{
    // margin-top: 4rem;
    // display: none; 
    background-color: $primary-color;
    // position: fixed;
    //   top: 0;
    //  transform: translate(-50%, -50%);
    // height: 20vh;
    // position: sticky;
    // top: 10%;
    padding: 2rem;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;  
    // background-color: red;
    transition: opacity 0.5s ease-in-out; 
    position: relative;
    h2{
        font-size: 1rem;
        // margin-top: 2rem;
        }
    .map{
        background-color: white;
        display: flex;
            position: sticky;
            // bottom: 0;
            transition: all 2s ease;
            z-index: 1000;
        justify-content: space-between;
        border-radius: 0.7rem;
        align-items: center;
        width: 45%;
    .left{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    h3{
        color: rgba(128, 128, 128, 0.623);
        font-weight: 300;
    }
    .icon{
        height: 100%;
        // border-radius: 0.7rem;
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        padding: 0.8rem;
        background-color: $secondary-color;
    .bx{
        color: white;
    }
    }
    }
    .right{
        display: flex;
        align-items: center;
        padding-right: 1rem;
        gap: 0.5rem;
    a{
        color: $secondary-color;
    }
    }
    }  
}